* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  min-height: 10vh;
  width: 100%;
  background-color: #77b3db;
  padding: 45px;
  flex-direction: column;
  align-items: center;
}

body {
  background-image: url("./assets/one-more.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 10px;
  background: #1c7ccc;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.memory-card {
  width: calc(33.33% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.timer {
  margin-top: 60px;
  border-radius: 10px;
  background-color: black;
}

.stopwatch {
  background: -webkit-linear-gradient(
    45deg,
    #037ade,
    #feb47b,
    #9a16a7,
    #03e5b7
  );
  padding: 20px 24px;
  border-radius: 20px;
  border: 5px solid black;
}

.timerDisplay {
  font-size: 50px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gameBoard {
  margin: 10px;
  width: 80%;
  height: 80vh;
  background-color: rgb(238, 16, 16);
}

.btn {
  font-size: 20px;
  background: none;
  border: none;
  color: #fff;
  background-color: var(--clr);
  padding: 12px 24px;
  margin-inline: 12px;
  border-radius: 15px;
  cursor: pointer;
  margin: 40px;
}
#startBtn {
  background-color: #1f9c83;
}
#resetBtn {
  background-color: #1c7ccc;
}
/* For hover */

#startBtn:hover {
  background-color: rgb(71, 214, 143);
  background-position: 0 0;
  color: #070707;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-inline: 12px;
  border: 1px solid rgb(71, 214, 143);
  justify-content: center;
}

#resetBtn:hover {
  background-color: rgb(48, 48, 236);
  background-position: 0 0;
  color: #070707;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-inline: 12px;
  border: 1px solid #20202a44;
  justify-content: center;
}
